body {
    margin: 0;
    scrollbar-color: #0806aa transparent;
    scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb {
    background: #50a3b1;
    border-radius: 3rem;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 6px;
}
